h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 150px;
}

p.bold-paragraph {
  margin: 150px;
}

.bold-paragraph {
  color: #8799ff;
}

#bold {
  background-color: #000000;
  color: rgb(202, 133, 133);
}

img {
  width: 100%;
}
